@import "base/reset";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap');
$color1: black;
$color2: white;
$color3: rgba(157, 151, 151, 0.541521);
$color4: rgba(85, 85, 85, 0.404);

body {
	width: 100vw;
	height: 100vh;
	background-color: $color1;
}

.main {
	font-family: 'Open Sans', sans-serif;
	color: $color2;
	.home-container {
		.header-wrapper {
			position: fixed;
			display: flex;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.801218);
			@media screen and (max-width: 600px){
				background-color: $color1;				
			}
			.nav-brand {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0.5rem 3rem;
				@media screen and (max-width: 600px) {
					padding: 0.5rem;
				}
				.hamburger-menu {
					display: none;
					padding-left: 0.5rem;
					padding-right: 1rem;
					@media screen and (max-width: 600px) {
						display: block;
						&:hover {
							cursor: pointer;
						}
					}
					.line {
						width: 35px;
						height: 5px;
						background-color: $color2;
						margin: 6px 0;
					}
				}
			}
			.navbar {
				display: flex;
				justify-content: center;
				align-items: center;
				.nav-menu{
					display: flex;
					font-weight: bold;
					font-size: 1rem;
					.menu-item {
						text-decoration: none;
						padding: 0.5rem 1rem;
						color: $color2;
						&:hover {
							cursor: pointer;
							color: $color3;
							transition: 0.3s;
						}
					}
					@media screen and (max-width: 600px) {
						display: none;
						position: absolute;
						top: 100%;
						left: 0;
						height: 100vh;
						flex-direction: column;
						background-color: $color1;
							&.show {
								display: inline-flex;
							}
							.menu-item {
							display: inline-flex;
							padding-bottom: 1rem;
						}
					}
				}
			}
		}
		.hero-screen {
			background-image: 
			linear-gradient(to top right, $color1, rgba(0, 0, 0, 0)),
			url("../assets/BrBaPortada.png");
			background-position: top;
			background-size: cover;
			max-width: 1499px;
			max-height: 843px;
			width: 100%;
			@media screen and (max-width: 600px) {
				width: 100%;
				height: 40vh;
				background-image: 
				linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)),
				url("../assets/BrBaPortada.png");
				background-position: top;
			}
			height: 100%;
			.hero-wrapper {
				padding-left: 3rem;
				max-width: 500px;
				width: 100%;
				@media screen and (max-width: 600px) {
					padding-left: 1rem;
				}
				.hero-logo {
					padding-top: 2rem;
					@media screen and (max-width: 600px) {
						display: none;
					}
				}
				.logo-mobile {
					.title-mobile {
						display: none;
						@media screen and (max-width: 600px) {
							display: block;
							padding-top: 6rem;
							font-size: 1.5rem;
							font-weight: bold;
							padding-bottom: 0.2rem;
						}
					}
					.sub-mobile {
						display: none;
						padding-top: 0.2rem;
						@media screen and (max-width: 600px) {
							display: block;
						}
					}
				}
				.hero-subtitle {
					margin-top: -2rem;
					@media screen and (max-width: 600px) {
						display: none;
					}
					.sub {
						margin-right: 0.8rem;
						&.coincidence {
							font-weight: bold;
							color: green;
						}
						&.year {

						}
						&.age {
							border: 1px solid $color2;
							border-radius: 10px;
							padding: 0.2rem 0.5rem;
						}
						&.season {
							font-weight: bold;
						}
					}
				}
				.hero-buttons {
					display: flex;
					.buttons {
						display: flex;
						align-items: center;
						padding: 1.5rem 0;
						.button {
							text-decoration: none;
							color: $color2;
							padding: 1rem 2rem;
							background: $color3;
							border-radius: 9px;
							margin-right: 1.8rem;
							&.play {
								background-color: red;
							}
							&:hover {
								cursor: pointer;
								background-color: $color4;
								transition: 0.3s;
							}
							@media screen and (max-width: 600px) {
								padding: 0.8rem 1.5rem;
								&.play {
									background-color: red;
									&:hover {
										background-color: rgba(255, 0, 0, 0.788);
										transition: 0.3s;
									}
								}
							}
						}
						.like-wrapper {
							text-decoration: none;
							position: relative;
							margin-right: 1rem;
							@media screen and (max-width: 600px) {
								display: none;
							}
							&:hover {
								transform: scale(1.1);
								transition: 0.3s;
							}
							.like {
								.shape {
									position: absolute;
									top: 45%;
									left: 50%;
									transform: translate(-50%, -50%);
								}
							}
						}
						.dislike-wrapper {
							text-decoration: none;
							position: relative;
							@media screen and (max-width: 600px) {
								display: none;
							}
							&:hover {
								transform: scale(1.1);
								transition: 0.3s;
							}
							.dislike {
								.shape {
									position: absolute;
									left: 20%;
									top: 25%;
									transform: translate(-50%, -50%);
									transform: rotate(-180deg);
								}
							}
						}
					}		
				}
				.hero-description {
					line-height: 1.5rem;
					@media screen and (max-width: 600px) {
						display: none;
					}
				}
			}
		}
	} 
	.series-selection {
		padding-left: 3rem;
		@media screen and (max-width: 600px) {
			padding-left: 1rem;
		}
		.series-wrapper {
			display: flex;
			flex-direction: column;
			.series-title {
				padding-top: 2rem;
				padding-bottom: 1rem;
				font-weight: bold;
			}
			.series-carousel {
				display: flex;
				overflow-x: auto;
				scroll-snap-type: x mandatory;
				padding-bottom: 1rem;
				@media screen and (max-width: 600px) {
					display: flex;
					flex-direction: column;
					padding-bottom: 1rem;
				}
				
				&::-webkit-scrollbar {
					height: 8px;
					background-color: $color1;
				}

				&::-webkit-scrollbar-track {
					background: $color1; 
				}

				&::-webkit-scrollbar-thumb {
					background: $color3; 
					border-radius: 20px;
				}

				&::-webkit-scrollbar-thumb:hover {
					background: $color4; 
					border-radius: 20px;
				}
				.serie-wrapper {
					margin-right: 1rem;
					display: flex;
					flex-direction: row;
					.serie {
						scroll-snap-align: start;
						display: flex;
						&:hover {
							opacity: 0.7;
							transition: 0.2s;
						}
					}
					.description-wrapper {
						.chapter-title {
							display: none;
						}
						.chapter-description {
							display: none;
						}
					}
					@media screen and (max-width: 600px) {
						.description-wrapper {
							display: flex;
							flex-direction: column;
							.chapter-title {
								display: flex;
								flex-direction: column;
								font-weight: bold;
								padding-left: 1rem;
								font-size: 1rem;
							}
							.chapter-description {
								display: flex;
								flex-direction: column;
								padding-left: 1rem;
								font-size: 0.9rem;
								line-height: 1rem;
							}
						}
						.serie {
							display: flex;
							padding-bottom: 1rem;
						}
					}
				}
			}
		}
	}
} 